@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap3-switch';


@media (min-width: 768px){
  .container{
    max-width:40%;
  }
}

@media (min-width: 992px){
  .container{
    max-width:40%;
  }
}

.row {
  padding-bottom: 20px;
}
